#whatispluto {
    color:#3333cc;
}
#a {
    color:#00ff99;
    background:#009933;
}
#b {
    background-color:#ffff99;
}
#c {
    color:#e60000;
    background-color:#ffccff;
    }
#d {
    color:#0033cc;
    background-color:#66ccff;
}    